header {
    background-color: rgb(90, 5, 5);
    color: white;
    text-align: center;
}
header a {
    color: white;
    text-decoration: none; 
}
header li {
    padding: 10px;
}
header h1 {
    font-weight: bold;
}
header section {
    background-color: rgb(173, 50, 50);
}

footer {
    background-color: rgb(90, 5, 5);
    color: white;   
}
footer li {
    padding: 10px;
}
footer h3 {
    font-weight: bold;
    text-align: right;
    padding-top: 50px;
}
footer h4 {
    font-size: 150%;
    font-weight: bold;
}
footer p {
    font-size: 120%; 
}
footer a {
    color: white;
}


/*---------------------------------------------------------------------------*/
/* 
Karuselli aluseks on kasutatud https://www.w3schools.com/howto/howto_js_slideshow.asp näidet.
*/

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(145, 140, 140, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4.5s;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}
/*---------------------------------------------------------------------------*/


.Our_mision {
    padding-right: 60px;
    padding-left: 60px;
}
.Our_mision h2 {
    font-size: 200%;
    font-weight: bold;
}

.New_books {
    padding-right: 60px;
    padding-left: 60px;
}
.New_books h2 {
    font-size: 200%;
    font-weight: bold;
}
.New_books h4 {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
.New_books p {
    font-size: 120%;
    text-align: center;
}
.New_books img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.next_1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -65px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next_1 {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.next_1:hover {
    background-color: rgba(145, 140, 140, 0.8);
}


.Top10 {
    padding-right: 60px;
    padding-left: 60px;
}
.Top10 h2 {
    font-size: 200%;
    font-weight: bold;
}
.Top10 h4 {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
.Top10 p {
    font-size: 120%;
    text-align: center;
}
.Top10 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nr {
    width: 30px;
    height: 30px;
    background-color: rgb(90, 5, 5);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -10px;
    right: 25px;
}




.book-container {
    margin-bottom: 20px;
    position: relative;
}

.book-cover {
    width: 100%;
    height: 400px;
    background-color: lightgray;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: rgb(90, 5, 5);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}

.circle-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.circle-account {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(90, 5, 5);
}

.circle-account i {
    color: rgb(90, 5, 5);
    font-size: 36px; 
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.counter-btn {
    background-color: rgb(90, 5, 5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-value {
    font-size: 24px;
    margin: 0 15px;
}

/*
Product page styling
*/

.underNavBar{
    text-align: left;
    padding-left: 75px;
}

.underNavBarText{
    padding: 2ch;
}

.rowProductPage{
    padding-right: 50px;
}

.rowProductPage:after {
    content: "";
    display: table;
    clear: both;
  }
  
.leftProduct{
    float: left;
    padding-left: 90px;
    width: 40%;
}
.rightProduct {
    float: left;
    width: 25%;
    background-color: #F4F4F4;
    border-radius: 20px;
}
  
.middleProduct {
    float: left;
    width: 35%;
    padding-right: 50px;
}

.pictureProduct{
    height: 65ch;
    width: 50ch;
}

.meltingHearths{
    height: 3ch;
}

.clickableReview{
    color:black;
}

.reviewRow{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.reviewCol1{
    float: left;
    padding-right: 5ch;
}

.reviewCol2{
    float: left;
    
}

.productInfo{
    padding-top: 20px;
}

#youMightAlsoBeInterested{
    text-align: left;
    padding-left: 40px;
}

.cartRow{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 20px;
}

#priceImage{
    height: 4ch;
}

#normalPrice > p{
    padding-left: 8ch;
    font-size: 22px;
}

.checkoutCart{
    margin-left: 25px;
}

.cartOuterDiv{
    padding-left: 50px;
}

.cart-container {
    display: flex;
    width: 180px; 
    border-radius: 5px;
    overflow: hidden;
}

.cart-button {
    width: 60px;
    height: 40px;
    background-color: #D8D8D8;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.cart-quantity {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.cartRow2{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 40px;
}

.addToCartButton {
    border-radius: 38px;
    background-color: rgba(88, 1, 2, 1);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.addToCartButton img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.wishlistButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
}

.wishlistButton img{
    height: 50px;
    padding-left: 20px;
}

#shareOnSocial{
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
}

.logoButtonImage {
    display: inline-block;
    padding-left: 30px;
}
