header {
    background-color: rgb(90, 5, 5);
    color: white;
    text-align: center;
}
header a {
    color: white;
    text-decoration: none; 
}
header li {
    padding: 10px;
}
header h1 {
    font-weight: bold;
}
header section {
    background-color: rgb(173, 50, 50);
}



footer {
    background-color: rgb(90, 5, 5);
    color: white;   
}
footer li {
    padding: 10px;
}
footer h3 {
    font-weight: bold;
    text-align: right;
    padding-top: 50px;
}
footer h4 {
    font-size: 150%;
    font-weight: bold;
}
footer p {
    font-size: 120%;
   
}
